.tag {
  display: flex;
  cursor: pointer;
  font-size: 13px;
  &:hover{
    opacity: .8;
  }
  .content {
    color: $primary-color;
    padding: 5px 2px 2px 5px;
    background: rgba(243, 153, 153, 0.3);
  }

  .rightArrow {
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid rgba(243, 153, 153, 0.3);
  }
}
