# 依赖
**/node_modules

# 打包
/dist

# misc
.DS_Store

/coverage
.idea
yarn.lock
package-lock.json
pnpm-lock.yaml
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*bak


# vscode
.history
*.log
functions/*
.temp/**
.vscode/*

#next
.next
