.messageBox {
  border-radius: 10px 10px 0 0;
  background-color: white;
  height: 450px;
  width: 300px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  .header {
    height: 50px;
    display: flex;
    border-radius: 10px 10px 0 0;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid #E5E5E5;
    background-color: #ec5b56;

    .avatar {
      img {
        border-radius: 50%;
      }
    }

    .name {
      flex: .7;
      color: white;
      font-size: 14px;
      margin-left: 15px;
    }

    .actionBox {
      flex: .3;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .action {
        margin: 5px;
        color: white;
      }

      :hover {
        cursor: pointer;

        //svg {
        //  color: #E7232B;
        //}
      }
    }
  }

  .main {
    flex: 1;
    overflow-y: auto;
    background-color: #F0F2F5;

    .messageItem {

      .date {
        display: flex;
        justify-content: center;
        font-size: 12px;
        margin-top: 10px;
      }

      .message {
        padding: 8px;
        display: flex;
        .avatar {
          img {
            border-radius: 50%;
          }
        }

        .content {
          margin: 0 5px;
          background-color: white;
          padding: 10px;
          font-size: 15px;
          border-radius: 10px;
          max-width: 200px;
        }

        .date {
          flex-direction: column;
        }
      }

    }
  }

  .input {
    border-top: 1px solid #E5E5E5;
    padding-left: 10px;
    display: flex;
    align-items: center;
    height: 40px;
  }

}