$primary-color: var(--primary-color, #E7232B);
$background-color-base: var(--background-color-base, #8590A6);
$background-color-light: var(--background-color-light, #ffffff);
$border-color: var(--border-color, #E0E0E0);
$border-color-light: var(--border-color-light, #F0F0F0);
$icon-default-color: var(--gray-color, #8590A6);
$main-width: 1200px;
$main-width-sm: 900px;
$border-radius: 12px;
$font-color-base: var(--font-color-base, #000000);
$font-color-placeholder: var(--font-color-placeholder, #8590A6);
$line-color: #E0E0E0;
$font-sm: 12px;
$font-md: 14px;
$font-lg: 16px;
$font-xl: 20px;
$font-xxl: 24px;


:export {
  primaryColor: $primary-color;
  backgroundColorBase: $background-color-base;
  backgroundColorLight: $background-color-light;
  icon-default-color: $icon-default-color;
}


//通用类
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin main-content {
  margin-top: 10px;
  width: $main-width;
  min-height: calc(100vh - 200px);
}



