.container {
  padding: 20px 0;
  display: flex;
  justify-content: center;

  .mainContent {
    @include main-content();
    display: flex;

    .leftContainer, .rightContainer {
      border-radius: 20px;
    }

    .leftContainer {
      width: 70%;
      background: #fff;
      padding: 20px;

      .navBar {
        display: flex;
        flex-direction: row;

        .navItem {
          font-family: 'Microsoft YaHei', sans-serif;
          margin-right: 30px;
          font-size: 16px;
          color: #000000;
          cursor: pointer;

          &:hover {
            color: $primary-color;
          }
        }

        .active {
          color: $primary-color;
          font-weight: bold;
        }

        .timeSort {
          margin-left: auto;
          color: #8590A6;
          cursor: pointer;

          &:hover {
            color: $primary-color;

            svg path {
              stroke: $primary-color;
            }
          }

          &:active {
            opacity: .6;
          }
        }
      }

      .questionList {
        margin-top: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - 200px);
      }

      .noData {
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }


      .loadMore {
        text-align: center;

        &:hover {
          cursor: pointer;
          color: $primary-color;
        }
      }
    }

    .rightContainer {
      width: 28%;
      margin-left: 20px;

      .postQuestion {
        padding: 20px;
        border-radius: 12px;
        background: white;
        display: flex;
        flex-direction: column;

        .postQuestionHeader {
          display: flex;
          align-items: center;

          .title {
            display: flex;
            align-items: center;
            font-weight: 700;
            font-size: 18px;
          }

          .anonymous {
            margin-left: auto;
          }
        }

        .postQuestionBody {

          :global {
            .ant-select-selector {
              padding: 3px 5px;

            }

            .ant-select-selection-item {
              height: 25px;
              border: 1px solid rgba(231, 35, 43, 0.06);
              background-color: rgba(231, 35, 43, 0.08);
              color: $primary-color;

              svg {
                fill: $primary-color;

                &:hover {
                  opacity: .8;
                }
              }

            }
          }

          .titleInput {
            font-size: 15px;
            font-weight: 700;
            margin-top: 10px;
            line-height: 25px;
          }

          .contentInput {
            margin-top: 10px;
            font-size: 14px;
            line-height: 24px;
            color: #000000;
          }

          .imageList {
            display: flex;
            margin-top: 10px;
            overflow-x: auto;

            & > div {
              margin-right: 8px;
            }
          }

          .actionContainer {
            margin-top: 10px;
            display: flex;
            align-items: center;

            .uploadBtn {
              padding: 4px;
              font-size: 14px;
              color: #8590A6;
              cursor: pointer;
              margin-left: auto;
              display: flex;
              align-items: center;

              &:hover {
                background-color: rgba(231, 35, 43, 0.08);
                //color: $primary-color;
                svg path {
                  fill: $primary-color;
                }

                opacity: .8;
              }
            }
          }
        }

        .postBtn {
          margin-top: 4px;
        }
      }
    }
  }
}
