.container {
  padding: 20px;
  display: flex;
  flex-direction: column;

  .titleContainer {
    display: flex;
    align-items: center;
  }

  .button {
    width: 130px;
    height: 35px;
    font-size: 15px;
    border-radius: 45px;
    margin-top: 20px;
    align-self: center;
  }
}


.tittle {
  font-weight: 700;
  font-size: 22px;
}


.swiper {
  width: 100%;
  margin-top: 20px;
  padding: 5px 30px;

  .schoolItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;

    .schoolName {
      margin-top: 15px;
      font-family: 'Microsoft YaHei', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      color: #000000;
    }
  }
}






