
.imageItem{
  position: relative;
  img{
    border-radius: 4px;
  }
  &:hover{
    .closeBtn{
      visibility: visible;
    }
  }
  .closeBtn{
    visibility: hidden;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    z-index: 5;
    color: white;
    &:hover{
      display: block;
      svg path{
        fill: $primary-color;
      }
    }
  }
}
