.header {
  height: 70px;
  background-color: $background-color-light;
  display: flex;
  justify-content: center;

  .centerContainer {
    width: $main-width;
    display: flex;
    align-items: center;

    .tabContainer {
      margin-left: 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 400px;
      height: 100%;
      padding: 0 20px;
      font-size: 17px;
      line-height: 30px;
       div:hover{
         cursor: pointer;
         opacity: 0.8;
         color: $primary-color;
       }
      div:active{
        opacity: 0.6;
      }
    }

    .searchContainer {
      margin-left: 80px;
    }
    .avatarBox{
      margin-left: 10px;
      border-radius: 50%;
      box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
      cursor: pointer;
      &:hover{
        opacity: 0.8;
      }
    }

    .loginBtn{
      width: 80px;
      height: 35px;
      font-size: 14px;
      margin-left: 20px;
      border-radius: 40px;
    }
    .languageContainer{
      margin-left: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      padding: 0 20px;
      font-size: 14px;
      cursor: pointer;
    }
  }
}
