.container {
  width: 100%;
  display: flex;
  position: relative;

}

.input {
  width: 100%;
  background-color: #f0f2f5;
  padding: 5px 35px 5px 15px;
  border-style: solid;
  border-width: 1px;
  border-radius: 37px;
  border-color: #EBEBEB;
  font-size: $font-md;
  height: 30px;

  &:focus {
    outline: 1px solid $primary-color;
    background-color: transparent;
  }
}

.icon {
  top: 8px;
  right: 15px;
  position: absolute;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    opacity: 0.8;
    scale: (1.15);

    svg path {
      fill: $primary-color;
    }
  }
}

.dataResult{
  position: absolute;
  margin-top: 14.5%;
  width: 180px;
  height: 220px;
  border-style: solid;
  border-top: none;
  border-color: rgb(231,35,43);
  border-width: thin;
  background-color:  white;
  box-shadow: black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: $font-md;
  margin-left: 5%;
}

.dataResult::-webkit-scrollbar{
  display: none;
}

.dataResult li {
  text-align: left;
  display: inline-block;

}

.dataResult li:hover {
    background-color: #EBEBEB;
    height: inherit;
    width: 80%;


}


#clearBtn{
  cursor: pointer;
}

