.container {
  height: 80px;
  @include flex-center;
  .mainContent {
    width: $main-width;
  }
  .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    color: white;
    font-size: 18px;
    font-weight: bold;

    a {
      color: black;
      text-decoration: none;
    }
  }

  .copyright {
    color: #ACACAC;
    text-align: center;
    font-size: 14px;
  }
}