.container {
  width: 100%;
  display: flex;
  position: relative;
}

.input {
  width: 100%;
  background-color: #f0f2f5;
  padding: 5px 35px 5px 15px;
  border-style: solid;
  border-width: 1px;
  border-radius: 37px;
  border-color: #EBEBEB;
  font-size: $font-md;
  height: 30px;

  &:focus {
    outline: 1px solid $primary-color;
    background-color: transparent;
  }
}

.icon {
  top: 8px;
  right: 15px;
  position: absolute;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    opacity: 0.8;
    scale: (1.15);

    svg path {
      fill: $primary-color;
    }
  }
}

