.questionContainer {
  margin-top: 20px;
  background-color: $background-color-light;
  border-radius: $border-radius;
  padding: 20px;

  .header {
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0.05em;
  }

  .tabContainer {
    display: flex;
    margin-top: 10px;

    & > div {
      margin-right: 30px;
      font-size: 18px;

      &:hover {
        color: $primary-color;
        cursor: pointer;
      }
    }
  }

  .questionListContainer {
    margin-top: 20px;


  }

}
